.categorySelector {
  border-radius: 12px;
  background-color: #d9d9d9;
  display: flex;
  width: 250px;
  max-width: 100%;
  gap: 12px;
  color: #000;
  justify-content: space-between;
  padding: 10px 30px;
  font: 400 14px Outfit, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

.select {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  width: 100%;
  cursor: pointer;
}

.categoryIcon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media (max-width: 500px) {
  .categorySelector {
    padding: 10px 15px;
    width: 100%;
  }

  .categoryIcon {
    right: 15px;
  }
}
