body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #4e958b 0%, #192F2C 100%);
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 80%;
    position: relative; /* Added position relative */
  }
  
  .logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
  .content {
    flex: 1;
    padding-right: 50px;
    padding-top: 90px;  /* Adjusted padding to lower the contact info */
  }
  
  .content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .content p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #b0bec5;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;  /* Added margin to lower the contact info */
  }
  
  .contact div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #fff;
  }
  
  .contact span {
    color: #fff;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field input,
  .input-field textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
  }
  
  .input-field textarea {
    resize: vertical;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #192F2C !important;  /* Updated button color */
    color: #004d40;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #4e958b !important;  /* Updated hover color */
  }
  
  .btn i {
    margin-left: 10px;
  }
  
  .btn .MuiSvgIcon-root {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  
  .telegram-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .content {
      padding-right: 0;
      margin-bottom: 30px;
    }
  
    .form-container {
      width: 100%;
    }
  
    .logo {
      position: static;
      margin-bottom: 20px;
    }
  
    .telegram-icon {
      position: static;
      margin-top: 20px;
    }
  }