.eventsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.hero {
  background-color: #4e958b;
  color: #fff;
  text-align: center;
  font: 200 30px;
  overflow: hidden;
}

.heroContent {
  position: relative;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
}

.heroImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.heroTitle {
  max-width: 400px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  margin-top: auto;
}

.eventList {
  background-color: #fff;
}

.eventListContent {
  background-color: #4e958b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

@media (max-width: 900px) {
  .eventsPage {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .hero {
    font-size: 2px;
  }

  .heroContent {
    padding: 25px 10px;
    min-height: 200px;
  }

  .heroTitle {
    padding: 0 10px;
  }

  .eventListContent {
    padding: 25px 10px;
  }
}
span {
  margin-top: auto;
}
