
.header {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.events-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Event card styling */
.event-card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%; /* Use full width without overflow */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

/* Image in the event card */
.event-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-right: 1px solid #ddd;
}

/* Event info */
.event-info {
  padding: 20px;
  flex: 1;
  color: white; /* Set text color */
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%; /* Full width pagination */
  overflow-x: auto; /* Prevent horizontal overflow for pagination */
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #44bd85;
  color: white;
}
