body {
  background-color: #4e958b;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4e958b, #192F26);
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem;
}

.image-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.image-section img {
  object-fit: contain;
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 1rem;
}

.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  margin-right: 3rem; /* Add padding to the right */
}

.logocopy {
  width: 10rem !important;
  height: 10rem !important;
  object-fit: contain;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Add translucent background */
  padding: 0.5rem;
  border-radius: 50%;
}

.welcome-text {
  font-size: 3rem;
  font-weight: 900;
  color: black;
  margin-top: 12rem;
  margin-bottom: 1rem;
}

.login-form {
  width: 100%;
  max-width: 40rem;
}

.error-text {
  color: #f56565;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.input-field-container {
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.input-field {
  width: 100%;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: #2d3748;
  background: transparent;
  border: none;
  outline: none;
}

.input-error {
  border-color: #f56565;
}

.password-toggle {
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  color: #2d3748;
}

.error-text {
  color: #f56565;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.login-button {
  width: 100%;
  padding: 1rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #4e958b;
  border-radius: 9999px;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
}

.login-button:hover {
  background-color: #2f855a;
}

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
